<footer class="footer mt-auto py-3 bg-body-tertiary text-body-secondary">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">&#127279; Copyleft 2023</p>
      <p class="mb-2">Feel free to clone the GitHub repository and modify the project, but remember: you must maintain the <a href="https://www.gnu.org/licenses/gpl-3.0.html" >GPL</a>!</p>
    </div>
</footer>